/*
 * Copyright (c) 2025
 * SPDX-License-Identifier: MIT
 *
 * Generic &htm behavior:
 * - param1 = keycode for tap behavior
 * - param2 = keycode for hold behavior
 *
 * If mods are active (e.g. LSHIFT), use the third fixed mod behavior.
 */

#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
#if ZMK_BEHAVIOR_OMIT(MT)
        /omit-if-no-ref/
#endif
        htm: htm {
            compatible = "zmk,behavior-hold-tap-mod";
            #binding-cells = <3>;
            bindings = <&kp A &kp B &kp GRAVE>; // param1 = tap, param2 = hold
            mods = <MOD_LSFT>;
            tapping-term-ms = <200>;
        };
    };
};
  